body {
  font-family: "Poppins", sans-serif;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  body {
    font-family: "Poppins", sans-serif;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
}

.card-button {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#eventContainer {
  width: 100%;
  background-color: #f8f9fb;
  color: #2e3192;
  padding: 60px;
  border-radius: 24px;
  gap: 101px;
  display: flex;
  flex-direction: column;
}

#eventTitle {
  font-size: 45px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -3%;
}
#eventSubTitle {
  font-size: 20px;
  font-weight: 600;
}

#eventBody {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 992px) {
  #eventBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
#circleBorder {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Same as width for a perfect circle */
  background-color: #ffffff;
  border: 2px solid #2e3192;
  border-radius: 50%;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: -3%;
  font-size: 24px;
  height: 36px;
}

.circular--square {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  border: #2e3192 4px solid;
}
.card {
  border: 0px !important;
  gap: 30px;
}
.card-body {
  padding: 0 !important;
  min-height: 150px;
}

#lessonCardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.profile-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.profile-description {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #747474;
}

.profile-message {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

.grey-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f8f8;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.news-article-description {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: lighter;
  color: #495057;
}

.article-title {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  font-weight: 500px;
  color: #212529;
}

#newsArticleContainer {
  gap: 15px;
  margin-top: 20px;
}
.news-article-card {
  background-color: #f8f8f8;
}
.footer {
  background-image: url("./images/footer_bg.png");
  height: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.copy-right {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}

#footerContainer {
  gap: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-content {
  height: 200px;
  width: 250px;
}

.footer-content-item {
  font-size: 20px;
  line-height: 150%;
  font-weight: normal;
}

.circular--icon {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
}

.icon {
  width: 32px; /* Adjust the size of the circle */
  height: 32px; /* Adjust the size of the circle */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px; /* Adjust margin as needed */
  background-color: #ffffff;
}

.icon img {
  max-width: 80%; /* Adjust the size of the icon */
  max-height: 80%; /* Adjust the size of the icon */
}

#socialSitesContainer {
  margin-top: 33px;
}

#mapContainer {
  width: 100%;
}
.view-more {
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 5px;
  color: #2e3192;
  text-align: center;
}
.our-team-container {
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 992px) {
  #lessonCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  #footerContainer {
    gap: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
  }
  #mapContainer {
    max-width: 408px;
    max-height: 273px;
  }
  #eventContainer {
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f8f9fb;
    color: #2e3192;
    padding: 60px;
    border-radius: 24px;
    gap: 101px;
    display: flex;
    flex-direction: column;
  }
  .grey-container {
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
    gap: 48px;
  }
  .containerTitle {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 70px;
    letter-spacing: -3%;
    font-size: 45px;
  }
  .our-team-container {
    gap: 50px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
